.wrapper {
  display: flex;
  flex-direction: column;
}
.textArea {
  border: none;
  resize: none;
  padding: 5px;
  border-radius: 20px;
  border: none;
}
.error {
  border-radius: 20px;
  border-color: red;
  resize: none;
  padding: 5px;
}
